body {
  padding: 0 10%; /* body태그에 좌우를 여백 부여*/
  margin-top: 2rem; /*위쪽으로 margin 부여*/
}

a {
  text-decoration: none; /*a 태그에 밑줄을 사라지게 함*/
}
.border-box {
  border: none;
  border-radius: 10px;
  background: var(--dark-gray);
  color: white;
}

/*css 변수들*/
:root {
  --main-color: #445964;
  --dark-gray: #263138;
  --logo-background: #343434;
  --soft-gray: #dfdfdf;
  --noncolor: #ededed;
  --nonfontcolor: #a4a4a4;
  --btn: #515151;
  --comment-time: #18a0fb;
}
